aside.navigation {
    height: 100vh;
    width: 20%;
    position: relative;
}

aside.navigation.closed {
    height: 100vh;
    width: 0;
    position: relative;
}


aside.navigation .icon {
    font-size: 2.4rem;

    position: absolute;
    left: 0;
    z-index: 2;
    
    width: fit-content;

    color: var(--bold-text);
}

aside.navigation .icon-2 {
    font-size: 2.4rem;

    position: absolute;
    left: 90vw;
    z-index: 2;
    
    width: fit-content;

    color: var(--bold-text);
}


aside.navigation .content {
    padding-top: 2rem;
    padding-left: 0;
    
    display: flex;
    flex-flow: column;

    height: 100vh;
    width: 100%;

    background-color: var(--aside-color);
}

aside.navigation .content a {
    text-decoration: none;
    font-size: 1.6rem;

    color: var(--nav-item-color);
    
    padding: 10px 5px;
    padding-left: 1rem;

    display: flex;
    align-items: center;

    width: 100%;

}

aside.navigation .content a svg {
    margin-right: 5px;
}

aside.navigation .content a:hover {
    background-color: #00000044;
}

.hidden {
    display: none !important;
}

aside.navigation .content .folder a {
    padding-left: 2rem;
}


@media screen and (max-width: 895px) {
    aside.navigation {
        position: fixed;
        width: 100vw;
    }
    aside.navigation .content {
        height: 100vh;
        width: 100vw;
    }
}
