.App {
  --background-color: #FFFFFF;
  --default-font-color: #12173D;
  --aside-color: #A52639;
  --mute-color: #C37289;
  --bold-text: #DD3745;
  --nav-item-color: #fff6f6;
  --border-color: #DD3745;
}

.App[data-theme='dark'] {
  --background-color: #221e31;
  --default-font-color: #f6d6bd;
  --aside-color: #110d20;
  --mute-color: #4e495f;
  --bold-text: #f9f9bf;
  --nav-item-color: #f6d6bd;
  --border-color: #f6d6bd;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
}

.App {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  color: var(--default-font-color);

  transition: .5s;
}

main.content {
  height: 100vh;
  flex: 1;
  overflow: auto;
}

.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  max-height: fit-content;

  padding: 2rem;

}

.elevation {
  padding-left: 2rem;
}

.elevation p::before {
  content: "~ ";
}

.md {
  align-items: flex-start;
  justify-content: flex-start;
}


.doc {
  width: 70%;
  margin: auto;
  font-size: 1.4rem;
}


.doc h1::before,
.doc h2::before,
.doc h3::before {
  color: var(--mute-color);
  margin-right: 5px;
}

.doc h1::before { content: "#" }
.doc h2::before { content: "##" }
.doc h3::before { content: "###" }


.doc h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.doc h2 {
  margin-bottom: 1rem;
}

.doc p {
  line-height: 2rem;
}

.doc .divider {
  padding: 1rem;
}

@media screen and (max-width: 895px) {
  .doc { 
    width: 100%;
    overflow: none  ;
    margin-top: 2rem;
  }
  .doc h1 {
    font-size: 1.8rem;
  }
  .doc h2 {
    font-size: 1.4rem;
  }
  .doc h3 {
    font-size: 1.3rem;
  }

  .doc p {
    font-size: 1.1rem;
    font-weight: 700;
  }
}